---
extends: default

rules:
  line-length:
    max: 120
  new-line-at-end-of-file:
    level: warning
  truthy:
    allowed-values: ["true", "false", "yes", "no"]
  document-start:
    present: false
